@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');


*{
    margin: 0;
    padding: 0;
}

.header-container{
    background-color: white;
    border: solid black;
    
}

.list{
    display: inline;
    margin: 20px;
    font-family: 'Rampart One', cursive;
    font-size: 20px;
    color: #87AAAA;
}
.container{
    text-align: center;
    margin: 30px;
}