footer{
    section{
        div{
            div{
                div{
                    .a1{
                        color: black;
                    }
                }
                div{
                    .a1{
                        color: black;
                    }
                }
            }
            div{
                .icon{    
                    width: 40px;
                    height: 40px;
                    float: right;
                }
    
            }
        }
    }
}
    