.main-container{
    background-image: url(../../imagenes/background.water.jpg);
    width: auto;
    height: auto;
    h1{
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        text-align: center;
        @media only screen and (max-width:450px){
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            text-align: center;

        }
        @media only screen and (max-width: 960px) and (min-width: 451px){
            font-family: 'Poppins', sans-serif;
            font-size: 30px;
            text-align: center;

        }
    }
    .p-container{
        margin: 20px;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        @media only screen and (max-width:450px){
            font-family: 'Poppins', sans-serif;
            font-size: 10px;
            text-align: center;
        }
        @media only screen and (max-width: 960px) and (min-width: 451px){
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            text-align: center;
        }
    }
    @media only screen and (max-width:450px) {
            background-image: url(../../imagenes/background.water.jpg);
            width: auto;
            height: auto;
      }
    @media only screen and (max-width: 960px) and (min-width: 451px){
            background-image: url(../../imagenes/background.water.jpg);
            width: auto;
            height: 900px;
            }
    
    }
      
